/* color variables */
:root {
  --accent: #B47C4A;
  --blue: #9AA5C0;
  --darkgray: #4C515B;
  --gray: #918E94;
  --lightgray: #CFC2BD;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: var(--lightgray);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #ffffff;
  border-left: 1px solid black;
  padding: 10px;
}

code {
  color: var(--accent);
}

.jumbotron {
  text-align: center;
  background-color: var(--lightgray);
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 1rem 2rem;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid var(--lightgray);
}

.hour {
  background-color: var(--lightgray);
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: var(--darkgray);
  color: white;
}

.present {
  background-color: var(--gray);
  color: white;
}

.future {
  background-color: var(--lightgray);
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: var(--accent);
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.feedback {
  display: none;
  padding-bottom: 10px;
  color: black;
}

.show {
  display: block;
}

.container {
  margin-bottom: 30px;
}